.header{
    height: 7rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-bottom: 1px solid $color-grey-light-1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width:$bp-smallest){
        flex-wrap: wrap; 
        height: 12rem;
        align-content: center;
    }
     
}