.hotel-view{
    background-color: #fff;
    flex: 1 0 82%;
     
}

.gallery{
    display: flex;

    &__photo{
        width: 100%;
        display: block;
    }
}

.overview{
    display: flex;
    border-bottom: 1px solid $color-grey-light-1;
    align-items: center;
    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase; 
        letter-spacing: 1px; 
        padding: 1.5rem 3rem; 
        @media only screen and (max-width:$bp-small){
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        } 
    }   
    &__stars{
        margin-right: auto; //create white space without stretching element. 
        display: flex; 
    }
    &__icon-star,&__icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: $color-primary;
    }
    &__location{
        display: flex;
        font-size: 1.2rem;
        vertical-align: center;
    }

    &__icon-location{
        margin-right: .5rem;
    }
    &__rating{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background-color: $color-primary;
        margin-left: 3rem;
        color: white;
        padding: 1.2rem 2.1rem;
        align-self: stretch;

        @media only screen and (max-width:$bp-small){
            padding: 0 1.5rem;
        }
    }
    &__rating-count{
        font-size: .8rem; 
        text-transform: uppercase;
        @media only screen and (max-width:$bp-small){
            font-size: .5rem; 
        }
    }
    &__rating-average{ 
        font-size: 2.25rem; 
        font-weight: 300;

        @media only screen and (max-width:$bp-small){
            font-size: 1.8rem; 
        }
    }
}
//button
.button-inline{
    border: none;
    color: $color-primary;
    font-size: inherit;
    align-self: center; 
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s; 
    &:hover{ 
        color: $color-grey-dark-1;
        span{
            margin-left: 8px;
        }
    } 
    &:focus{
        outline: none;  
        animation: pulsate 1s infinite; 
    } 
    & span{
        margin-left: 3px;
       transition: margin-left .2s;
    }
}

.cta{
    padding: 3.5rem 0;
    text-align: center;
    &__book-now{
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;

        @media only screen and (max-width: $bp-small){
            font-size: 1.5rem;
        }
    }
    @media only screen and (max-width: $bp-medium){
        padding: 2.5rem 0;
    }
    }

.btn{
    position: relative;
    font-size: 1.5rem;
    border: none;
    font-weight: 300; 
    text-transform: uppercase;
    border-radius: 100px;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color:white;
    transition: all .2s;
    overflow: hidden;
    &__visible{
        display: inline-block;
        padding: 2rem 7.5rem;
        transition: all .2s; 
        height: 100%;
        width: 100%; 
    }
    &__invisible{
        display: inline-block;
        position: absolute;
        left: 0%;
        top: -100%;
        padding: 2rem 0rem;
        height: 100%;
        width: 100%; 
        transition: all .2s;
    }

    &:hover{
        background-image: linear-gradient(to left, $color-primary-light, $color-primary-dark);
        cursor: pointer;
        .btn__visible{
            transform: translateY(100%);
        }

        .btn__invisible{
            top:0;

        }
    }
    &:focus{
        outline: none;
        animation: pulsate 1s infinite; 
    }
}