.sidebar{
    background-color: $color-grey-dark-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 18%;
}

.side-nav{
    @media only screen and (max-width: $bp-medium){
        display: flex;
        margin: 0;
    }
    
    font-size: 1.4rem;
    list-style-type: none;
    margin-top: 3.5rem;
    &__item{

        &:active::before{
            background-color: $color-primary-light;
        }
        position: relative;   
        &:not(:last-child){
            margin-bottom: .5rem;
            @media only screen and (max-width: $bp-medium){
                margin-bottom: 0rem;
            }
        }

        &:hover::before  { 
            transform: scaleY(1); 
            width: 100%;
        }

        &::before{
            z-index: 5;
            content:'';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%; 
            transform: scaleY(0);
            width: 3px;
            transition: transform .2s,
                        width .4s cubic-bezier(1,0,0,1) .2s, 
                        background-color .1s;
            background-color: $color-primary;
        }
        @media only screen and (max-width: $bp-medium){
            flex:1;
        }
    }

    &__item--active::before{
        transform: scaleY(1); 
        width: 100%; 
    }

    &__link:link, &__link:visited{  
        color: $color-grey-light-1;
        text-decoration: none;  
        text-transform: uppercase;
        display: block; 
        z-index: 10; 
        position: relative;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center; 

        @media only screen and (max-width: $bp-medium){
            justify-content: center; 
            padding: 2rem;
        }
        
        @media only screen and (max-width:$bp-small){
            flex-direction: column;
            padding: 1.5rem .5rem;


        }
    }


    &__icon{
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; //Makes color same as text or parent element.
        @media only screen and (max-width:$bp-small){
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}
.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: $color-grey-light-4;
    @media only screen and (max-width: $bp-medium){
        display: none;
    }
}